* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #fff;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 350px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.Card  {
    width: 80px;
    border-radius: 2rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    margin:  0 10px;
    align-items: flex-end;
    transition: .5s cubic-bezier(.28, -0.03,0,0.99);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.Card[for="b1"] {
    background-image: url(./img/img1.jpg);
}

.Card[for="b2"] {
    background-image: url(./img/img2.jpg);
}

.Card[for="b3"] {
    background-image: url(./img/img3.jpg);
}

.Card[for="b4"] {
    background-image: url(./img/img4.jpg);
}

.row {
    color: #fff;
    display: flex;
}

input:checked + label {
    width: 600px;
}

.icon {
    background-color: #85d1fd;
    color: black;
    border-radius: 50px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

input {
    display: none;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(40px);
    transition-delay: .5s;
    transition: all .3s ease;
}

input:checked + label .description {
    opacity: 1;
    transform: translateY(0);

}

input:checked + label .row {
    backdrop-filter: blur(5px);
}