* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background-color: #fff;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-btn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-icon {
    font-size: 24px;
}

.dropdown-content {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition:  1s;
    margin: 8px;
}

.dropdown-content.show {
    opacity: 1;
    visibility: visible;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details h4 {
    font-size: 16px;
}

.user-details p {
    font-size: 14px;
    color: #666;
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

ul li:hover {
    background-color: #d9d9d9d5;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

ul li i {
    margin-right: 10px;
}

.dark-mode-toggle {
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.logout {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.logout i {
    margin-right: 5px;
}

/* Show dropdown on button click */
.dropdown:hover .dropdown-content {
    display: block;
}
