* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(142, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.personage {
    background-color: aliceblue;
    width: 170px;
    height: 220px;
    border-radius: 100px 100px 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.personage .yeux {
    display: flex;
    align-items: center;
    justify-content: center;
}
.personage .yeux .yeux1, .yeux2 {
    background-color: black;
    height: 30px;
    width: 60px;
    position: inherit;
    margin: 5px;
    border-radius: 5px 5px 100px 100px;
}
.personage .nez {
    height: 20px;
    width: 20px;
    background-color: black;
}
