* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(243, 84, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
}
.personage {
    background-color: aliceblue;
    width: 100px;
    height: 180px;
}