* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100px;
}
.personage {
    background-color: aliceblue;
}