* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff4b4b;
    margin: 0;
}
.personage {
    background-color: aliceblue;
    width: 170px;
    height: 220px;
    border-radius: 100px 100px 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 8px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.personage .yeux {
    display: flex;
    align-items: center;
    justify-content: center;
}
.personage .yeux .yeux1, .yeux2 {
    background-color: black;
    height: 30px;
    width: 60px;
    position: inherit;
    margin: 5px;
    border-radius: 5px 5px 100px 100px;
}
.personage .nez {
    height: 20px;
    width: 20px;
    background-color: black;
    margin-left: 68px;
    border-radius: 100px 100px 10px 10px ;
}
/*.ombre {
    height: 5px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    border-radius: 300px 300px 300px 300px;
}