* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(142, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.personage {
    background-color: aliceblue;
    width: 200px;
    height: 250px;
    border-radius: 50% 50% 0 0 ;
}